@page "/tasks"
@using EfCoreHello.Shared.Tasks
@inherits TasksPage

<h1>Zadania</h1>
<button class="btn btn-primary" @onclick="AddTaskHandler" disabled="@ShowTaskEditor">Dodaj zadanie</button>
<hr />
@if(ShowTaskEditor)
{
    <TaskForm OnTaskAdded="TaskAddedHandler" Users="Users" />
}