@using EfCoreHello.ViewModels;
<div>
    <EditForm Model="User" OnValidSubmit="SubmitHandler">
        <div class="mb-3">
            <label for="name" class="form-label">Imię użytkownika:</label>
            <InputText @bind-Value="User.Name" id="name" class="form-control" />
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Ok</button>
        </div>
    </EditForm>
</div>

@code {
    [Parameter]
    public UserViewModel User { get; set; } = new();
    [Parameter]
    public EventCallback<UserViewModel> OnUpdateUser { get; set; }

    private async Task SubmitHandler(EditContext ctx)
    {
        if (OnUpdateUser.HasDelegate)
            await OnUpdateUser.InvokeAsync(User);
    }
}
